#profileInfoCover {
  text-align: center;
  background-color: #e6e0b2;
  height: 630px;
}

#postsInfoCover {
  background-color: #d9d4a7;
  height: 630px;
}

#font-profile {
  font-family: 'Roboto Mono', monospace;
}

.profileCard {
  margin-top: 160px;
}

#statistics {
  display: inline-block;
}

#statistics > div {
  margin-left: 10px;
}

#btnFollow {
  background-color: #2A2E46;
  color: white;
}

#btnFollow:hover {
  background-color: rgb(41, 66, 70);
}

/* Posts Feed */
#feedCover {
  width: 750px;
  margin: auto;
  margin-top: 40px;
}

#feedTitle {
  font-family: 'Roboto Mono', monospace;
  margin-top: 15px;
  color: #315054;
  text-align: center;
}